POSTGRES_PASSWORD=secret
BUILDBOT_SECRET=alsosecret
FLASK_SECRET=yougetit
GITHUB_CLIENT_ID=from github (for logins)
GITHUB_CLIENT_SECRET=also from github
CODESIGN_NAME=name/email for key in builbot/codesign.asc
CODESIGN_PASSPHRASE=passphrase for key in buildbot/codesign.asc
CODESIGN_KEYGRIP=hex grip (not fingerprint!) for key in buildbot/codesign.asc
AWS_ACCESS_KEY=access key to start EC2 windows builder
AWS_SECRET_KEY=secret key to start EC2 windows builder
EC2_WINDOWS_AMI=windows builder AMI
