POSTGRES_PASSWORD=secret
BUILDBOT_SECRET=alsosecret
FLASK_SECRET=yougetit
GITHUB_CLIENT_ID=from github (for logins)
GITHUB_CLIENT_SECRET=also from github
CODESIGN_PASSPHRASE=passphrase for key in buildbot/codesign.asc
CODESIGN_KEYGRIP=hex fingerprint for key in buildbot/codesign.asc (no spaces)
