version: '2'
services: 
  nginx:
    build: nginx
    links:
      - flask
      - bbmaster
    volumes_from:
      - bbdata
      - wwwdata
    ports:
      - "8020:80"
  wwwdata:
    image: busybox
    volumes:
      - /var/www/overviewer-web-volumes/web:/data/www

  flask:
    build: flask
    env_file: confidential.env
    links:
      - postgres
      - bbmaster
    volumes_from:
      - wwwdata

  postgres:
    build: postgres
    env_file: confidential.env
    volumes_from:
      - dbdata
  dbdata:
    image: busybox
    volumes:
      - /var/www/overviewer-web-volumes/database:/var/lib/postgresql/data

  bbdata:
    image: busybox
    volumes:
      - /var/www/overviewer-web-volumes/buildbot:/data/buildbot
  bbmaster:
    build: buildbot
    env_file: confidential.env
    links:
      - postgres
    volumes_from:
      - bbdata
    volumes:
      - ./buildbot/rpmsign.sh:/root/rpmsign.sh
      - ./buildbot/start.sh:/root/start.sh
      - ./buildbot/master:/root/master
      - ./buildbot/repos:/root/repos
    ports:
      - "9989:9989"
  bbcentos764:
    build: buildbot/docker-builders/centos7-64
    env_file: confidential.env
    cap_add: 
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    links:
      - bbmaster
  bbstretch64:
    build: buildbot/docker-builders/stretch-64
    env_file: confidential.env
    links:
      - bbmaster
  bbstretch32:
    build: buildbot/docker-builders/stretch-32
    env_file: confidential.env
    links:
      - bbmaster
  bbbuster64:
    build: buildbot/docker-builders/buster-64
    env_file: confidential.env
    links:
      - bbmaster
  bbbuster32:
    build: buildbot/docker-builders/buster-32
    env_file: confidential.env
    links:
      - bbmaster
  bbbullseye64:
    build: buildbot/docker-builders/bullseye-64
    env_file: confidential.env
    links:
      - bbmaster
