{% extends "podstakannik/page.html" %}

{% block title %}Deleting {{ page.title }}{% endblock %}

{% block body %}

{% if file %}
<h1>Deleting {{ file.name }}</h1>
<p>Go back to <a href="{{ page.files_url }}">{{ page.title }} files</a>.</p>
{% else %}
<h1>Deleting {{ page.title }}</h1>
<p>Go back to <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>.</p>
{% endif %}

<form method="POST" action="">
  {% csrf_token %}
  <input type="submit" name="commit" value="DELETE" />
</form>

{% endblock body %}
