body
{
    position: relative;
    background: #E3EFF1;
    background: #eaeef0;
}

h1, h2, h3, h4, h5, h6 {

}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {

}

hr {
    border-bottom: 1px solid #CCCCCC;
}

.masthead
{
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.masthead h1
{
    font-size: 4em;
	margin-bottom: 0.25em;
}

.masthead a
{
	color: rgba(0, 0, 0, 0.8);
}

.tagline
{
	color: rgba(0, 0, 0, 0.5);
}

.hugebutton
{
    text-align: center;
}

.hugebutton img
{
    margin-bottom: 1em;
    
    border-radius: 15px;
    -moz-border-radius: 15px;
    
    box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
}

.hugebutton img:hover
{
    box-shadow: 0px 0px 15px #000;
    -moz-box-shadow: 0px 0px 15px #000;
    -webkit-box-shadow: 0px 0px 15px #000;
}

.hugebutton p
{
    font-weight: bold;
}

.hugebutton a
{
    color: #404040;
}

.hugebutton a:hover
{
    text-decoration: none;
}

.footer
{
	margin-bottom: 2em;
    text-align: center;
    font-size: 0.85em;
    color: #888;
}

.footer a:link, .footer a:visited
{
    color: #888;
}

.footer a:hover, .footer a:active
{
    color: #888;
}

.entry-title a
{
	color: rgba(0, 0, 0, 0.8);
}

.entry-info
{
	font-size: 0.9em;
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

.continue-reading
{
	font-size: 0.9em;
	font-style: italic;
}

.entry-footer
{
	text-align: right;
}

.entry-footer p
{
	display: inline;
	margin-right: 1em;
}

.entry-tags, .entry-comments
{
	font-size: 0.9em;
	font-style: italic;
}

.float-left
{
	float: left;
	margin-right: 3em;
}

.float-clear
{
	clear: both;
}

.news h1
{
	margin-bottom: 0.2em;
}

.news-title
{
	font-size: 1.2em;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-top: 0.5em;
}

.news-more
{
	text-align: center;
	font-size: 1.1em;
	padding-top: 0.5em;
}

.news-item
{
	font-size: 1.3em;
	padding-top: 0.5em;
}

.news-info
{
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.9em;
}

.center
{
	text-align: center;
}

#searchbox, #searchbutton
{
	margin-bottom: 0.5em;
}

.post-author
{
	border: 2px solid #AAA;
}

.comment-info
{
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

.gravatar
{
	float: left;
	margin-right: 1.5em;
	
    border-radius: 15px;
    -moz-border-radius: 15px;
    
    box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.53);
}
