<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- this site uses bootstrap: http://twitter.github.com/bootstrap/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="stylesheet" href="/static/css/codehilite.css" />

	<!-- Google Analytics incantation -->
	<script type="text/javascript">
	  
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27756118-1']);
	  _gaq.push(['_setDomainName', 'overviewer.org']);
	  _gaq.push(['_trackPageview']);
	  
	  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
	</script>

<script src="/static/js/layers.js"></script>
<style>.textTail {font-family:monospace, san-serif; font-size:medium; font-style:bold; color:FFFF00;}</style>
	
	{% block head %}{% endblock %}
  </head>
  
  <body onContextMenu="abort(); return false">
    <div class="container">
      <div class="masthead">
        <h1><a href="/"><img src="/static/img/an_spinning_flaming_skull.gif"/>MEIN KRAFT OVERSEAER<img src="/static/img/flag.gif"/></a></h1>
		<p class="tagline">Le <a href="http://www.cornify.com" onclick="cornify_add();return false;">MEIN KRAFT overseebear</a><script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script> is a tool written in php which places an <span style="font-family: sans; font-size: 0.8em">invisible player action figure</span> in ur miencrfta client world server and pipes the java classes intothe windows registry so it can retreive satellite imagez of ur world. For preformance its written for windows because windows is <span style="font-family: serif; color: #00FFFF">THEBEST THEBEST THEBEST THEBEST</span> and better then all u peguin fulks.</p>
		{% if user.is_authenticated %}
		<p class="tagline">(greetz to {{ user.username }}. <a href="/logout">log out</a>.)</p>
		{% endif %}
      </div>
      <hr />
	  {% block body %}
	  {% endblock body %}
      <hr />
      <div class="footer">
		<span style="font-size: 1.5em">Pliis donut steel!!! MAED BYE LE OBERBEIWERS COPIRITE 2017</span>
		
		<br />
		
		<a href="/downloads">DOWNLOADZS</a> <span class="divider">|</span>
		<a href="http://docs.overviewer.org">RTFDOCS</a> <span class="divider">|</span>
		<a href="https://github.com/overviewer/Minecraft-Overviewer/">HARKERSPEAK</a> <span class="divider">|</span>
		<a href="https://github.com/overviewer/Minecraft-Overviewer/issues">ISSUES</a> <span class="divider">|</span>
		<a href="/blog/">BLAGOBLAG</a>
		
		<br />
		
        <a href="/login">LOGIN</a> <span class="divider">|</span>
        <a href="/example">EXMAPLE</a> <span class="divider">|</span>
        <a href="/uploader">UPLODAR</a> <span class="divider">|</span>
        <a href="/debian/info">DEBPENGUIN</a> <span class="divider">|</span>
        <a href="/rpms/info">HATPENGUIN</a> <span class="divider">|</span>
        <a href="/irc">LEET IRC</a>
		
		<br />
		
		<a href="http://nexcess.net/">hosting by teh AWESOME DOODZ at NEXCESS.NET</a>
		
		<br />
<!-- Counter Code START --><a href="http://www.e-zeeinternet.com/" target="_blank"><img src="http://www.e-zeeinternet.com/count.php?page=947159&style=mj&nbdigits=6" alt="Free Web Counter" border="0" ></a><br><a href="http://www.e-zeeinternet.com/" title="Free Web Counter" target="_blank" style="font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;">Free Web Counter</a><!-- Counter Code END -->
		<br />
		
		<a href="http://github.com/overviewer/Minecraft-Overviewer">LIEK OUR FB PAGE!!!!!!</a>
<bgsound src="/static/midi.mid" loop="true"/>
<embed src="/static/midi.mid" autostart="true" loop="false" volume="50%" height="60" width="145"/>
		<!--<iframe src="http://ghbtns.com/github-btn.html?user=overviewer&repo=Minecraft-Overviewer&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="93px" height="20px"></iframe>
		<iframe src="http://ghbtns.com/github-btn.html?user=overviewer&repo=Minecraft-Overviewer&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="93px" height="20px"></iframe>-->
	  </div>
    </div>

<script language="javascript">
c1             = new config();
c1.prefix      = "y_textTail1";
c1.updateDelay = 30;
c1.letterspacing = 14;
c1.message     = "Come enjoy some Broasted Chicken";
c1.message     = c1.message.split("");
c1.howmany     = parseInt(c1.message.length);
c1.oldx = new Array();
c1.oldy = new Array();
c1.uid   = 1;
for (i=0;i<c1.howmany;i++) {
 c1.oldx[i] = 0;
 c1.oldy[i] = -50;
}
for (i=0;i<c1.howmany;i++) {
  writeLayer("<span class=\"textTail\">" + c1.message[i] + "</span>", c1.prefix + i, 0, -50);
  setVisible(c1.prefix + i, 1);
}
function updatetextTail(c) {
 c.widthBoundry = getViewWidth() - 30;
 for (i=c.howmany-1;i>0;i--) {
  c.oldx[i] = c.oldx[i-1] + c.letterspacing;
  c.oldy[i] = c.oldy[i-1];
 }
 c.oldx[0] = cursorX + c.letterspacing;
 c.oldy[0] = cursorY;
 for (i=0;i<c.howmany;i++) {
  if (c.oldx[i] >= c.widthBoundry) {
   c.oldx[i] = c.widthBoundry;
   setVisible(c.prefix + i, 0);
  } else { setVisible(c.prefix + i, 1); }
 moveLayer(c.prefix + i, c.oldx[i], c.oldy[i]);
 }
 setTimeout("updatetextTail(c" + c.uid + ")", c.updateDelay);
}
if (c1.message != "") {
 captureXY();
 updatetextTail(c1);
}
</script>

<SCRIPT type="text/javascript">
/*
Snow Fall 1 - no images - Java Script
Visit http://rainbow.arch.scriptmania.com/scripts/
  for this script and many more
*/

// Set the number of snowflakes (more than 30 - 40 not recommended)
var snowmax=35

// Set the colors for the snow. Add as many colors as you like
var snowcolor=new Array("#0000FF","#00FF00","#FFFF00","#00FFFF","#FF00FF")

// Set the fonts, that create the snowflakes. Add as many fonts as you like
var snowtype=new Array("Times","Arial","Times","Verdana")

// Set the letter that creates your snowflake (recommended: * )
var snowletter="☃"

// Set the speed of sinking (recommended values range from 0.3 to 2)
var sinkspeed=0.6

// Set the maximum-size of your snowflakes
var snowmaxsize=30

// Set the minimal-size of your snowflakes
var snowminsize=8

// Set the snowing-zone
// Set 1 for all-over-snowing, set 2 for left-side-snowing
// Set 3 for center-snowing, set 4 for right-side-snowing
var snowingzone=1

///////////////////////////////////////////////////////////////////////////
// CONFIGURATION ENDS HERE
///////////////////////////////////////////////////////////////////////////


// Do not edit below this line
var snow=new Array()
var marginbottom
var marginright
var timer
var i_snow=0
var x_mv=new Array();
var crds=new Array();
var lftrght=new Array();
var browserinfos=navigator.userAgent
var ie5=document.all&&document.getElementById&&!browserinfos.match(/Opera/)
var ns6=document.getElementById&&!document.all
var opera=browserinfos.match(/Opera/)
var browserok=ie5||ns6||opera

function randommaker(range) {
        rand=Math.floor(range*Math.random())
    return rand
}

function initsnow() {
        if (ie5 || opera) {
                marginbottom = document.body.scrollHeight
                marginright = document.body.clientWidth-15
        }
        else if (ns6) {
                marginbottom = document.body.scrollHeight
                marginright = window.innerWidth-15
        }
        var snowsizerange=snowmaxsize-snowminsize
        for (i=0;i<=snowmax;i++) {
                crds[i] = 0;
            lftrght[i] = Math.random()*15;
            x_mv[i] = 0.03 + Math.random()/10;
                snow[i]=document.getElementById("s"+i)
                snow[i].style.fontFamily=snowtype[randommaker(snowtype.length)]
                snow[i].size=randommaker(snowsizerange)+snowminsize
                snow[i].style.fontSize=snow[i].size+'px';
                snow[i].style.color=snowcolor[randommaker(snowcolor.length)]
                snow[i].style.zIndex=1000
                snow[i].sink=sinkspeed*snow[i].size/5
                if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
                if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
                if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
                if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
                snow[i].posy=randommaker(2*marginbottom-marginbottom-2*snow[i].size)
                snow[i].style.left=snow[i].posx+'px';
                snow[i].style.top=snow[i].posy+'px';
        }
        movesnow()
}

function movesnow() {
        for (i=0;i<=snowmax;i++) {
                crds[i] += x_mv[i];
                snow[i].posy+=snow[i].sink
                snow[i].style.left=snow[i].posx+lftrght[i]*Math.sin(crds[i])+'px';
                snow[i].style.top=snow[i].posy+'px';

                if (snow[i].posy>=marginbottom-2*snow[i].size || parseInt(snow[i].style.left)>(marginright-3*lftrght[i])){
                        if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
                        if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
                        if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
                        if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
                        snow[i].posy=0
                }
        }
        var timer=setTimeout("movesnow()",50)
}

for (i=0;i<=snowmax;i++) {
        document.write("<span id='s"+i+"' style='position:absolute;top:-"+snowmaxsize+"'>"+snowletter+"</span>")
}
if (browserok) {
        window.onload=initsnow
}

</SCRIPT>

<script language="JavaScript">
function abort()
{ 
msg = "DO NOT STEAL PLZ!!!!"
alert(msg)
return
}
</script>

  </body>
</html>
