<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<link rel="stylesheet" type="text/css" href="/static/styles/codehilite.css" media="screen, projection, print" />
	
	<!--
	   this page uses Blueprint CSS. See blueprintcss.org for details.
	  -->
	<link rel="stylesheet" type="text/css" href="/static/styles/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/static/styles/print.css" media="print"/>
	<!--[if IE]><link rel="stylesheet" type="text/css" href="/static/styles/ie.css" media="screen, projection" /><![endif]-->
	
	<!-- custom overrides for blueprint, codehilite -->
	<link rel="stylesheet" type="text/css" href="/static/styles/custom.css" media="screen, projection, print" />
	<link rel="stylesheet" type="text/css" href="/static/styles/customscreen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/static/styles/customprint.css" media="print" />

	<title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
	<div class="container">
	  
	  {% if user.is_authenticated %}
	  <div class="quiet small span-24 last">
		Logged in as {{ user }}. [<a href="/logout">logout</a>].
		<br />
		{% block admin %}{% endblock %}
	  </div>
	  {% endif %}

	  {% block navigation %}{% endblock %}
	  
	  <div class="span-24 last">
		{% block body %}{% endblock %}
	  </div>
	  
	  <div class="quiet small span-24 last">
		{% block footer %}{% endblock %}
	  </div>
	  <div class="quiet small span-24 last">
		{% block license %}{% endblock %}
	  </div>

	</div>
  </body>
</html>
