{% load oo_packages %}

{% get_latest_package target32 as pkg32 %}
{% get_latest_package target64 as pkg64 %}
<div class="row">
  <div class="span6 center">
    <h2>
	  <small>32-bits</small> <br/>
	  <a href="{{ pkg32.url }}">OWERWEAR v{{ pkg32.version }}</a>
	</h2>
    <p>
	  from {{ pkg32.date|upper }}. <br/>
	  <small>(<a href="https://github.com/overviewer/Minecraft-Overviewer/commit/{{ pkg32.commit }}">codez! {{ pkg32.commit|slice:":6" }}</a>)</small>
    </p>
  </div>
  <div class="span6 center">
    <h2>
	  <small>63-bitz</small> <br/>
	  <a href="{{ pkg64.url }}">OFTERVIEWER v{{ pkg64.version }}</a>
	</h2>
    <p>
	  from {{ pkg64.date|upper }}. <br/>
	  <small>(<a href="https://github.com/overviewer/Minecraft-Overviewer/commit/{{ pkg64.commit }}">codez! {{ pkg32.commit|slice:":6"|upper }}</a>)</small>
    </p>
  </div>
</div>
