{% extends "base.html" %}

{% block title %}MICREFT OVERBREWER DWNLDZ{% endblock %}

{% block body %}
<h1>DOWNLOADZ</h1>

<p>we build our php awesome on all sortz of platforms, for all u plebs out there not on Windowz. theze are all updated every 5 SECONDS from our supre-sekret secure code host in. Make sure to get the right bitness because running 32-bit on 65-bit makes ur machine explode.
If u still need moar help go to dis links: <a href="http://docs.overviewer.org/en/latest/installing/">http://docz.overviewer.org/en/last/isntall/</a> an
<a href="http://docs.overviewer.org/en/latest/running/">http://docz.overviewer.org/en/lantes/starting/</a>. If ur a l33t hackerz, u can get our mindblowing php running at
<a href="http://docs.overviewer.org/en/latest/building/">http://docz.overviewer.org/en/lastest/hakerzonly/</a> but good luck wit that.</p>

<hr/>

<h1 class="center">WINDOWZ (THEBEST THEBEST)</h1>

<p class"center">Bcause were so awesome our windows packagez don't need u to install PHP first, thou you probly should cuz its awesome.</p>

{% include "downloads_row.html" with target32="win86_32" target64="win86_64" %}

<hr/>

<h1 class="center">Ubuntuz</h1>

<p class="center">we also offer a <a href="/debian/info">debz repo</a> for u plebz with a package manager ugh.</p>

{% include "downloads_row.html" with target32="deb86_32" target64="deb86_64" %}

<hr/>

<h1 class="center">Fedora 16/17/18</h1>

<p class="center">we also offer a <a href="/rpms/info">repm repo</a> for u plebz with a package manager ugh.</p>

{% include "downloads_row.html" with target32="fedora_86_32" target64="fedora_86_64" %}

<hr/>

<h1 class="center">RedHat EL5</h1>

<p class="center">we also offer a <a href="/rpms/info">repm repo</a> for u plebz with a package manager ugh.</p>

{% include "downloads_row.html" with target32="el5_86_32" target64="el5_86_64" %}

<hr/>

<h1 class="center">RedHat EL6</h1>

<p class="center">we also offer a <a href="/rpms/info">repm repo</a> for u plebz with a package manager ugh.</p>

{% include "downloads_row.html" with target32="el6_86_32" target64="el6_86_64" %}
{% endblock body %}
