{% extends "base.html" %}

{% block title %}Minecraft Overviewer Downloads{% endblock %}

{% block body %}
<h1>Downloads</h1>

<p>The Overviewer team provides automated builds of Overviewer for
many systems. These builds are updated often, and are all based on the
git master branch. To download Overviewer, find your operating system
(Windows, Debian, ...) and then select a 32 or 64 bit package. In our
documentation you can find more information
about <a href="http://docs.overviewer.org/en/latest/installing/">Installing
Overviewer</a> and
<a href="http://docs.overviewer.org/en/latest/running/">Running
Overviewer</a>. If your system is not listed here, you can
still <a href="http://docs.overviewer.org/en/latest/building/">build
Overviewer from source</a>, which is easier than it sounds.</p>

<hr/>

<h1 class="center">Windows</h1>

<p class="center">Our Windows packages come pre-packaged as
stand-alone executables. You do <em>not</em> need a copy of Python to
run these!</p>

{% include "downloads_row.html" with target32="win86_32" target64="win86_64" %}

<hr/>

<h1 class="center">Debian</h1>

<p class="center">We also offer a <a href="/debian/info">Debian
repository</a> that offers the same packages, in repository form.</p>

{% include "downloads_row.html" with target32="deb86_32" target64="deb86_64" %}

<hr/>

<h1 class="center">Fedora 16</h1>

<p class="center">We also offer an <a href="/rpms/info">RPM
repository</a> that offers the same packages, in repository form.</p>

{% include "downloads_row.html" with target32="fedora_86_32" target64="fedora_86_64" %}

<hr/>

<h1 class="center">RedHat EL5</h1>

<p class="center">We also offer an <a href="/rpms/info">RPM
repository</a> that offers the same packages, in repository form.</p>

{% include "downloads_row.html" with target32="el5_86_32" target64="el5_86_64" %}

<hr/>

<h1 class="center">RedHat EL6</h1>

<p class="center">We also offer an <a href="/rpms/info">RPM
repository</a> that offers the same packages, in repository form.</p>

{% include "downloads_row.html" with target32="el6_86_32" target64="el6_86_64" %}
{% endblock body %}
