{% load oo_packages %}

{% get_latest_build target32 as pkg32 %}
{% get_latest_build target64 as pkg64 %}
<div class="row">
  <div class="span6 center">
    <h2>
	  <small>32-bit</small> <br/>
      <a href="{{ pkg32.url }}">Overviewer v{{ pkg32.version }}</a>
	</h2>
    <p>
    Uploaded on {{ pkg32.date }}<br/>
	  <small>(<a href="https://github.com/overviewer/Minecraft-Overviewer/commit/{{ pkg32.commit }}">commit {{ pkg32.commit|slice:":6" }}</a>)</small>
    </p>
  </div>
  <div class="span6 center">
    <h2>
	  <small>64-bit</small> <br/>
      <a href="{{ pkg64.url }}">Overviewer v{{ pkg64.version }}</a>
	</h2>
    <p>
    Uploaded on {{ pkg64.date }} <br/>
	  <small>(<a href="https://github.com/overviewer/Minecraft-Overviewer/commit/{{ pkg64.commit }}">commit {{ pkg64.commit|slice:":6" }}</a>)</small>
    </p>
  </div>
</div>
