flask==2.0.1
gunicorn==20.1.0
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.0.0
GitHub-Flask==3.2.0
Flask-WTF==0.14.3
unidecode==0.04.1
Flask-Markdown==0.3
pytoml==0.1.21
Pillow==8.3.2
requests==2.25.1
Flask-Caching==1.10.1
psycopg2==2.8.6
Flask-DebugToolbar==0.11.0
Flask-Script==2.0.6
