/* custom overrides for gamma-level.com */
/* specifically for screen, projectors */

/* make the text a hair bigger
   (that is, 14px instead of 12px)
   note this moves the baseline height to 21px */
body {font-size: 87.5%;}

/* make the code blocks a tad more recognizable */
.codehilite
{
    font-size: 0.85em;
    line-height: 0.85em;
    background-color: #eee;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* hide this for printers */
.noprint
{ }