#progress_container
{
	font-size: 1.2em;
	width: 100%;
	display: none;
}

#progress_filename
{
	font-size: 1.0em;
	width: 100%;
}

#progress_bar
{
	width: 100%;
	border: 1px solid black;
}

#progress_indicator
{
	background: lightgray;
	width: 0;
	height: 30px;
}
