{% extends "base.html" %}

{% block title %}Downloads - Minecraft Overviewer{% endblock %}

{% block body %}

<h1>Downloads</h1>

<p>
  The Overviewer team provides automated builds of Overviewer for many
  systems. These builds are updated often, and are all based on the
  git master branch. To download Overviewer, find your operating
  system (Windows, Debian, ...) and then select a 32 or 64 bit
  package. In our documentation you can find more information
  about <a href="http://docs.overviewer.org/en/latest/installing/">Installing
  Overviewer</a>
  and <a href="http://docs.overviewer.org/en/latest/running/">Running
  Overviewer</a>. If your system is not listed here, you can
  still <a href="http://docs.overviewer.org/en/latest/building/">build
  Overviewer from source</a>, which is easier than it sounds.
</p>

<h2>Repositories</h2>

<p>If you are running Debian or an RPM-based distribution of Linux, the preferred installation method is via our <a href="/debian/info">Debian repository</a> and a <a href="/rpms/info">Yum repository</a>.</p>

<hr/>

<p>
  The latest version of Overviewer is <strong>v{{ example.version }}</strong>, built on {{ example.date.strftime('%B %-d, %Y') }} from commit <a href="{{ example.commiturl }}">{{ example.commit[:7] }}</a>.
</p>

<table style="margin-top: 30px; margin-bottom: 30px;">
  <tr style="text-align: left;">
    <th colspan="2" style="padding: 5px;">Type</th>
    <th style="padding: 5px;">Download</th>
  </tr>
  {% for oslabel, archs in tree %}
  <tr style="border-top: 1px solid black;">
    <td rowspan="{{ archs|length }}" style="vertical-align: top; padding: 5px;">{{ oslabel }}</td>
    {% for archlabel, builder in archs %}
    {% if not loop.first %}
    </tr><tr style="{{ loop.cycle('', 'background-color: white;') }}">
    {% endif %}
    <td style="padding: 5px;">{{ archlabel }}</td>
    {% with build = builds.get(builder) %}
    {% if build %}
    {% if build.status == 'finished' %}
    <td style="padding: 5px;"><a href="{{ build.url }}">{{ build.basename }}</a></td>
    {% else %}
    <td style="padding: 5px;"><a href="{{ build.statusurl }}">(in progress)</a></td>
    {% endif %}
    {% else %}
    <td style="padding: 5px;">--</td>
    {% endif %}
    {% endwith %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock body %}
