{% extends "base.html" %}

{% block title %}Minecraft Overviewer{% endblock %}

{% block body %}
<div class="row">
  <div class="span6 hugebutton">
    <h2>
      <a href="http://docs.overviewer.org/">
        <small>to</small> documentation
      </a>
    </h2>
    <a href="http://docs.overviewer.org/">
      <img src="/static/img/docs.png" alt="documentation button">
    </a>
    <p>to learn about installation and how to run The Overviewer.</p>
  </div>
  <div class="span6 hugebutton">
    <h2>
      <a href="https://github.com/overviewer/Minecraft-Overviewer/">
        <small>to</small> GitHub
      </a>
    </h2>
    <a href="https://github.com/overviewer/Minecraft-Overviewer/">
      <img src="/static/img/github.png" alt="github button">
    </a>
    <p>for issue reporting and access to the code.</p>
  </div>
</div>
<div class="row">
  <div class="span6 offset3 hugebutton">
    <h2>
      <a href="/downloads">
        <small>to</small> downloads
      </a>
    </h2>
    <a href="/downloads">
      <img src="/static/img/downloads.png" alt="downloads button">
    </a>
    <p>to download binaries and source code for various platforms.</p>
  </div>
</div>
<hr>
<div class="row">
  {% for post in posts %}
  {% if loop.index == 1 or loop.index == 3 %}
  <div class="span4 center">
  {% else %}
  <div class="span3 center">
  {% endif %}
  <div class="news-item"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></div>
  <div class="news-info">by {{ post.user }} on {{ post.timestamp.strftime("%b. %d, %Y") }}</div>
  </div>
  {% endfor %}

  <div class="news-more span1"><a href="/blog/">more <i class="icon-chevron-right"></i></a></div>
</div>
{% endblock body %}
