{% extends "base.html" %}

{% block title %}IRC Rules{% endblock %}

{% block body %}
{% filter markdown %}
# IRC Rules

First of all, if you have come to #overviewer to ask a question about our
software, please go ahead and ask! You have come to the right place. If nobody
responds immediately, wait around a while or try another time of day. I promise
we're here!

---

About off-topic discussions:

We're pretty lax here in #overviewer. We enjoy conversations about the
Overviewer project, and about a wide range of other topics. We, as a community,
have a wide range of interests, so feel free to talk about just about anything
in here.

In the past we haven't really needed any strict rules, and the following is all common
sense anyways, but since I like rigidly defining things and documenting everything,
here are the rules by which we run this channel.

1. On-topic discussion takes priority over off-topic discussion. Please do not
interrupt discussion about The Overviewer. If you are in the middle of an
off-topic discussion and someone asks an Overviewer question, please pause your
conversation or take it to another channel.

2. Please be polite to newbies that come in to ask questions. In particular,
this means:

    * No "RTFM" responses. If the answer to a question is in the docs, politely
         link them to the docs. There is no reason to be rude.

    * Be patient and polite. People come here asking for our help. In
         the rare case the user is being rude, first of all, ask if their statements
              can be interpreted differently. Often a rude tone is the result of
                   interpretation. Remember emotions and body language are not conveyed over
                        IRC, and ones own expectations are often projected into the perceived tone
                             of others.

    * If a user is clearly being rude or trolling, keep the high
         ground, continue to be civil, and if necessary ask a moderator.

3. Before you comment, ask yourself: is this comment contributing to the
   conversation in any way? Is it interesting? insightful? funny? to others or just to you? While we are
      okay with e.g. being silly, or posting an occasional rant about something that's
         frustrating, remember there is a line. Being outright rude or hateful is not tolerated. If the only possible reason you're
            posting a comment is to get others angry, then please refrain. If your post
               has no reasonable interest for anyone else, or if people have historically
                  not shown any interest to your type of comments or contributions, then please
                     refrain. If a moderator asks you to cut something out, please cut it out now and in the future.

    We want this channel to remain a place to have interesting discussions about
       topics of mutual interest. This rule, which is more of a guideline really, is
          our attempt to define how to keep it that way. It will be enforced at the moderators' discretion if deemed necessary to keep the channel's tone and atmosphere in line with these goals.
{% endfilter %}
{% endblock body %}
