{% extends 'base.html' %}

{% block title %}Uploader - Minecraft Overviewer{% endblock %}

{% block head %}
<script type="text/javascript">
function progress_the_bar(ev) {
  if (ev.lengthComputable) {
    bar = document.getElementById("progress_bar");
    bar.value = ev.loaded / ev.total * 100.0;
  }
}
window.addEventListener("DOMContentLoaded", function () {
  document.getElementById("upload_form").addEventListener("submit", function(ev) {
    var form = document.getElementById("upload_form");
    ev.preventDefault();
    document.getElementById("progress_bar").style.display="";
    var xhr = new XMLHttpRequest();
    xhr.upload.addEventListener("progress", progress_the_bar, false);
    // This is supremely ugly, but basically just finishes the upload by
    // replacing the document with the endpoint's response.
    xhr.addEventListener('readystatechange', function(ev) {
      if (ev.target.readyState == 4 && ev.target.responseText) {
        var new_document = document.open('text/html', 'replace');
        new_document.write(ev.target.responseText);
        new_document.close();
      }
    }, false);
    xhr.open(form.getAttribute('method'), form.getAttribute('action'), true);
    xhr.send(new FormData(form));
  }, false);
}, false);
</script>
{% endblock head %}

{% block body %}
<h1>Overviewer.org Uploader</h1>

<p>This uploader is here so that people having issues with the Overviewer can provide us with (potentially large) files that are causing the issue.</P>

{% if not session.logged_in %}
<p>If you want, you can <a href="{{ url_for('login') }}?next={{ url_for('.index') }}">log in via GitHub</a> to attach uploaded files to your name so they're easier for us to find.</p>
{% endif %}

<form method="POST" action="" enctype="multipart/form-data" id="upload_form">
  {{ form.hidden_tag() }}
  <p>File: {{ form.file() }}</p>
  <input type="submit" value="Upload"/>
</form>
<progress max="100" id="progress_bar" style="display:none"></progress>

{% if files %}
<h3>Uploaded Files</h3>

<table style="border: 1px solid gray;">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Date</th>
    <th>Size</th>
    <th>MD5</th>
    {% if session.logged_in and session.developer %}<th>Delete</th>{% endif %}
  </tr>
  {% for file in files.items %}
  <tr>
    <td><a href="{{ file.url }}">{{ file.name }}</a></td>
    <td>{% if file.user %}<a href="https://github.com/{{ file.user }}">{{ file.user }}</a>{% else %}-{% endif %}</td>
    <td>{{ file.timestamp.strftime('%B %d, %Y, %I:%M %p') }}</td>
    <td>{{ file.nice_size }}</td>
    <td><code>{{ file.md5 }}</code></td>
    {% if session.logged_in and session.developer %}<td><a href="{{ url_for('.delete', id=file.id) }}">delete</a></td>{% endif %}
  </tr>
  {% endfor %}
</table>

<ul class="paginator">
  <li class="index">
    Page {{ files.page }} of {{ files.page }}
  </li>
  {% for p in files.iter_pages() %}
  {% if p %}
  {% if p != files.page %}
  <li class="page"><a href="?page={{ p }}">{{ p }}</a></li>
  {% else %}
  <li class="page current"><strong>{{ p }}</strong></li>
  {% endif %}
  {% else %}
  <span class="ellipsis">...</span>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endblock body %}
